@import 'layout/grid/includes/variables',
				 'layout/grid/includes/functions',
				 'layout/grid/includes/mixins';

@include generateExtraSmallColumns;

.grid {
	margin-bottom: 15px;
}

.row {
	overflow: hidden;
}

.column {
	background: #fff;
	padding: $defaultVerticalPadding $defaultHorizontalPadding;
}