@import 'layout/grid/includes/variables',
				 'layout/grid/includes/functions',
				 'layout/grid/includes/mixins';

@include generateExtraSmallColumns;

.grid {
	padding-left: $defaultHorizontalPadding;
	padding-right: $defaultHorizontalPadding;
	margin: 0 auto;
}

.row {
	margin-right: -$defaultGridOffset;
	margin-left: -$defaultGridOffset;
}

.column {
	padding: $defaultVerticalPadding $defaultHorizontalPadding;
}