@import 'layout/manifest-grid';
/*doc
---
title: Buttons
name: buttons
category: Base CSS
---

Button styles. blah blah blah.

```html_example
<button class="btn-primary">Primary</button>
```
*/
.btn-primary {
	background: steelblue;
	color: snow;
	border: 2px solid steelblue;
	display: block;
	height: 300px;
	width: 400px;
}
/*doc
---
title: Headings
name: headings
category: Base CSS
---

Heading styles. blah blah blah.

```html_example
<h1>Heading 1</h1>
```
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: arial, sans-serif;
	font-style: italic;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.a {
	font-size: 2rem;
	width: calc(100% - 50px);
}

body {
	background: blue;
}

a:link {
	color: green;
}

a:link,
a:visited,
a:hover,
a:active {
	color: green;
}

.notUsed {
	background: fuchsia;
}

body {
	background: #ccc;
	color: #333;
}




