//Grid Default Values

$defaultTotalColumns: 12 !default;
$defaultVerticalPadding: 15px !default;
$defaultHorizontalPadding: 10px !default;
$defaultGridOffset: $defaultHorizontalPadding;

//Breakpoint Values

$tablets: 768px;
$desktopSmall: 992px;
$desktopLarge: 1200px;

//Opt Out/In

$xsColumnClasses: true;
$medColumnClasses: true;
$desktopSmallColumns : true;