@import 'layout/grid/includes/variables',
				 'layout/grid/includes/functions',
				 'layout/grid/includes/mixins';

@include tablet {
	@include generateStandardColumns;
	@include generateTabletColumns;
	.grid {
		width: $tablets;
	}
	.row {
		overflow: hidden;
	}
	.column {
		float: left;
	}
}

